<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <a class="navbar-brand btn" onclick="goHome()">
        <img src="../../favicon.ico" alt="Logo" class="d-inline-block align-text-top pr-4">
        InfoSports
      </a>
      <a type="button" class="btn btn-light nav-item" href="">
        <img src="assets/football.png" width="25%" class="d-inline-block align-text-top pr-4">
        Football
      </a>
      <a type="button" class="btn btn-light nav-item" href="">
        <img src="assets/basketball.png" width="25%" class="d-inline-block align-text-top pr-4">  
        Basketball
      </a>
      <a type="button" class="btn btn-secondary nav-item" aria-current="page" href="user">{{username}}</a>
    </div>
  </div>
</nav>