<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <a class="navbar-brand" href="#" (click)="showUserPage=false; logedAlert = false; failAlert = false; showHomePageMethod()">
        <img src="../../favicon.ico" alt="Logo" class="d-inline-block align-text-top pr-4">
        InfoSports
      </a>
      <a type="button" class="btn btn-light nav-item" href="">
        <img src="../../../images/football.png" width="25%" class="d-inline-block align-text-top pr-4">
        Football
      </a>
      <a type="button" class="btn btn-light nav-item" href="">
        <img src="../../favicon.ico" width="25%" alt="Logo" class="d-inline-block align-text-top pr-4">  
        Basketball
      </a>
      <a type="button" class="btn btn-secondary nav-item" aria-current="page" (click)="showUserPage=true; showUserPageMethod()">{{username}}</a>
    </div>
  </div>
</nav>

  <div class="container mt-3" *ngIf="showUserPage">
    <div class="alert alert-success text-center" *ngIf="logedAlert">Sesión iniciada correctamente</div>
    <div class="alert alert-danger text-center" *ngIf="failAlert">No se ha podido iniciar sesión</div>
  </div>
  <app-user *ngIf="showUserPage && !userLoged" (updateHeader)="update($event)">
  </app-user>
  
  <app-profile 
  *ngIf="showUserPage && userLoged" 
  [user]="this.user"
  (updateUserEvent)="editUser($event)"
  (LogOutEvent)="logOut()"
  >
  </app-profile>