<div class="row">
    <div class="col"></div>
    <app-user-new class="col-5 border-end" (RegisterTry)="set_user()"></app-user-new>
    <app-user-login class="col-5" (LogInTry)="login_user()"></app-user-login>
    <div class="col"></div>
    <div class="alert alert-success mt-3 text-center" role="alert" *ngIf="loged || registred">
        {{msg}}
    </div>
    <div class="alert alert-danger mt-3 text-center" role="alert" *ngIf="LogInFailed || RegisterFailed || HttpErrored">
        {{msg}}
    </div>
</div>
