<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-evenly text-light" id="navbarSupportedContent">
            <a class="nav-link active" aria-current="page" href="#">Volleyball</a>
            <a class="nav-link active" aria-current="page" href="#">Football</a>
            <a class="nav-link active" aria-current="page" href="#">Basketball</a>
            <a class="nav-link active" aria-current="page" href="#">Baseball</a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-evenly text-light" id="navbarSupportedContent">
            <div>
                
            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
</nav>